.tabla-ventas {
  width: 100%;
  border-collapse: collapse;
}

.tabla-ventas th,
.tabla-ventas td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabla-ventas thead th {
  background: #4e5155;
  color: #fff;
}
